<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>JS Inflator VST 3 to AUv2 Plug-in</string>
			<key>factoryFunction</key>
			<string>AUWrapperFactory</string>
			<key>manufacturer</key>
			<string>Yg31</string>
			<key>name</key>
			<string>yg331: JS Inflator</string>
			<key>subtype</key>
			<string>yJSI</string>
			<key>type</key>
			<string>aufx</string>
			<key>version</key>
			<integer>131075</integer>
		</dict>
	</array>
	<key>AudioUnit SupportedNumChannels</key>
	<array>
		<dict>
			<key>Inputs</key>
			<string>2</string>
			<key>Outputs</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Inputs</key>
			<string>1</string>
			<key>Outputs</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Inputs</key>
			<string>1</string>
			<key>Outputs</key>
			<string>1</string>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>Yg31</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
</dict>
</plist>
