#include <windows.h>
#include "../source/version.h"

#define APSTUDIO_READONLY_SYMBOLS

JSIF_editor.uidesc  		DATA "JSIF_editor.uidesc"

orig_background.png			PNG "orig_background.png"
orig_handle.png				PNG "orig_handle.png"
orig_knob_red_.png			PNG "orig_knob_red_.png"
orig_knob_green_.png		PNG "orig_knob_green_.png"
orig_button_onoff.png		PNG "orig_button_onoff.png"
orig_LED_OFF.png			PNG "orig_LED_OFF.png"
orig_LED_ON.png				PNG "orig_LED_ON.png"
orig_LED_FX_OFF.png			PNG "orig_LED_FX_OFF.png"
orig_LED_FX_ON.png			PNG "orig_LED_FX_ON.png"
orig_LED_cover.png			PNG "orig_LED_cover.png"

twarch_background.png		PNG "twarch/twarch_background.png"
twarch_btn_IN.png			PNG "twarch/twarch_btn_IN.png"
twarch_btn_CLIP.png			PNG "twarch/twarch_btn_CLIP.png"
twarch_btn_SPLIT.png		PNG "twarch/twarch_btn_SPLIT.png"
twarch_handle.png			PNG "twarch/twarch_handle.png"
twarch_meter_off.png		PNG "twarch/twarch_meter_off.png"
twarch_meter_on.png			PNG "twarch/twarch_meter_on.png"
twarch_meter_fx_on.png		PNG "twarch/twarch_meter_fx_on.png"
twarch_knob_yellow_.png		PNG "twarch/twarch_knob_yellow_.png"
twarch_knob_red_.png		PNG "twarch/twarch_knob_red_.png"


/////////////////////////////////////////////////////////////////////////////
// Version
/////////////////////////////////////////////////////////////////////////////
VS_VERSION_INFO VERSIONINFO
 FILEVERSION MAJOR_VERSION_INT,SUB_VERSION_INT,RELEASE_NUMBER_INT,BUILD_NUMBER_INT
 PRODUCTVERSION MAJOR_VERSION_INT,SUB_VERSION_INT,RELEASE_NUMBER_INT,BUILD_NUMBER_INT
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004e4"
        BEGIN
            VALUE "FileVersion",      FULL_VERSION_STR"\0"
            VALUE "ProductVersion",   FULL_VERSION_STR"\0"
            VALUE "OriginalFilename", stringOriginalFilename"\0"
            VALUE "FileDescription",  stringFileDescription"\0"
            VALUE "InternalName",     stringFileDescription"\0"
            VALUE "ProductName",      stringFileDescription"\0"
            VALUE "CompanyName",      stringCompanyName"\0"
            VALUE "LegalCopyright",   stringLegalCopyright"\0"
            VALUE "LegalTrademarks",  stringLegalTrademarks"\0"
            //VALUE "PrivateBuild",     " \0"
            //VALUE "SpecialBuild",     " \0"
            //VALUE "Comments",         " \0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1252
    END
END
